
/*General*/

h1,
h2,
h3,
p,
td,
th {
	font-family: 'Roboto', sans-serif;
	color: #626A70;
;

}

/*Header*/

#banner {
	background-color: #3C4965;
	min-height: 20vh;
}

#banner h1 {
	color: #fff;
	font-size: 3em;
	padding: 35px 0 0 0;
	margin: 0;
}

#banner img {
	padding-top: 35px;
	margin-bottom: 30px;
}

/*Table*/

.table,
form {
	margin-top: 20px;
}

/*Form*/

.btn-add {
	background-color: #e05b20; 
	border-radius: 3px;
	color: #fff;
	width: 40%;
}

.blue {
	background-color: blue;
}